.denomination-item {
  margin: 10px;
}

.denomination-button {
  background-color: #7c3aed;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.denomination-button:hover {
  background-color: #585076;
}

.denomination-button:focus {
  outline: none;
}
